<style>
  .speroroads-bottom { margin-bottom:5px;padding:20px;}
  .list-evaluation { border-right:0px solid #333; padding-right:0px; min-height:100%;}
  .no-padding {padding:0px;}
  #map-container {min-height:400px; margin-bottom:10px;}
  #commander {margin-right:0px;font-family:"Courier New", Courier, monospace;}
</style>

<div ng-controller="IndexCtrl" class="container-fluid no-padding">

  <div class="row" style="margin-right:0px;">
    <div class="col-md-3" style="padding-right:0px;">
      <div class="topcoat-list__container list-evaluation" style="max-height:730px;">
          <ul class="topcoat-list">
            <!-- order is reversed created timestamp -->
            <li class="topcoat-list__item" hm-tap="routeName($event)" style="text-align:center">++ New Route ++</li>
            <li class="topcoat-list__item" hm-tap="openRoute($event,route.id)" ng-repeat="route in routes | orderBy: '-createddate'">
            {{ route.name }}
            <button hm-tap='delete(route.id)' style="float:right">Eliminar</button>
            </li>
        </ul>
        <div id="photosDiv" style="width:100%">

        </div>
      </div>
     </div>
    <div class="col-md-9" id="map-container">

    </div>
  </div>

  <div class="row" style="margin-right:0px;">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
      <div class="row" id="route-settings" ng-show="route_settings_visibility">
        <div class="col-md-12">

          <div class="col-md-4 no-padding">
            <h3>Pavimento</h3>
            <select ng-model="settings_pav" ng-options="s.id as s.name for s in settingsPavimento" class="topcoat-select">

            </select>

            <h3>Bermas Pavimentadas</h3>
            <select ng-model="settings_bermas" ng-options="s.id as s.name for s in settingsBermas" class="topcoat-select">
            </select>


          </div>

          <div class="col-md-4 no-padding">
            <h3>Largura da berma</h3>
            <input type="number" step="0.1" min="0.1" max="10.0" ng-model="settings_largura_berma" ng-options="s.id as s.name for s in settingsLarguraDaBerma">
            </input>



            <h3>Número de vias</h3>
            <select ng-model="settings_nrvias" ng-options="s.id as s.name for s in settingsNrVias" class="topcoat-select">

            </select>
          </div>

          <div class="col-md-4 no-padding">
            <h3>Largura total pavimento</h3>
            <input type="number" step="0.1" min="0.1" max="10.0" ng-model="settings_largura_pavimento" ng-options="s.id as s.name for s in settingsLarguraTotalPavimento" style="margin-bottom:10px">
            </input>
            <!--<select ng-model="settings_largura_pavimento" ng-model="settings_largura_pavimento" ng-options="s.id as s.name for s in settingsLarguraTotalPavimento" class="topcoat-select" style="margin-bottom:10px">

            </select>-->
          </div>
        </div>
      </div>
      <div class="row" ng-show="route_settings_visibility" style="margin-top:10px;">
        <div class="col-md-12" style="padding:10px;">
          <button class="topcoat-button speroroads-bottom" hm-tap="changeRoadSettings()">Alterar</button>
          <button class="topcoat-button speroroads-bottom" hm-tap="closeRoadSettings()">Cancelar</button>
        </div>
      </div>


      <div class="row col-md-12 no-padding" id="custom-route" ng-show="custom_route_visibility">
        <div class="col-md-12">
          <h2>Nome da rota:</h2>
            <input name="name" id="routeName" ng-model="route.name"></input>
            <div class="col-md-12 no-padding" style="margin-top:10px">
              <button class="topcoat-button speroroads-bottom" hm-tap="newRoute($event)">Criar</button>
              <button class="topcoat-button speroroads-bottom" hm-tap="cancelNewRoute($event)">Cancelar</button>
            </div>
        </div>
      </div>


      <div class="row col-md-12 no-padding" id="other" ng-show="new_name_visibility">
        <h3>Nome da nova patologia:</h3>
        <input id="occurrenceName" ng-model="settings_custom"></>
        <div class="col-md-12 no-padding" style="margin-top:10px">
            <button class="topcoat-button speroroads-bottom" rel ="0" hm-tap="triggerCustomOccurrenceSettings($event)">Continuar</button>
            <button class="topcoat-button speroroads-bottom" hm-tap="cancelNewNameOccurrence($event)">Cancelar</button>
        </div>
      </div>

      <div class="row" id="custom-settings" ng-show="custom_settings_visibility">
        <div class="col-md-12">
          <h2>Patologia Pontual</h2>
          <h3>Escolha a gravidade:</h3>
          <button class="topcoat-button--large--cta--yellow speroroads-bottom" hm-tap="startCustomRoute($event)" rel="1">GR1</button>
          <button class="topcoat-button--large--cta--orange speroroads-bottom" hm-tap="startCustomRoute($event)" rel="2">GR2</button>
          <button class="topcoat-button--large--cta--red speroroads-bottom"    hm-tap="startCustomRoute($event)" rel="3">GR3</button>


          <div class="col-md-12 no-padding" style="margin-top:10px">
            <button class="topcoat-button speroroads-bottom" hm-tap="cancelCustomOccurrence($event)">Cancelar</button>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-md-3 no-padding" style="padding-right:10px;">
          <div class="topcoat-list__container list-evaluation" id="listoccurrences" style="max-height:270px;" ng-show="!route_settings_visibility && !custom_settings_visibility && !new_name_visibility && !custom_route_visibility">
            <ul class="topcoat-list">
              <!-- order is reversed created timestamp -->
              <li class="topcoat-list__item" ng-show="!currentRoute">No route selected</li>
              <li class="topcoat-list__item" id = "occur.id" ng-repeat="occur in currentOccurrences | orderBy: '-createddate'" hm-tap='openOccurrence($event,occur.id)'>
              {{ occur.name }}
              <br>
              Fotos: {{ occur.nr_photos }}
              </li> 
            </ul>
          </div>
        </div>
        <div class="col-md-9 no-padding" id="commander" ng-show="!route_settings_visibility && !custom_settings_visibility && !custom_route_visibility && !new_name_visibility">
          <form class="simple-form">
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="11">Rod1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="12">Rod2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="13">Rod3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="21">Fen1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="22">Fen2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="23">Fen3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="31">Pel1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="32">Pel2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="33">Pel3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="41">Cov1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="42">Cov2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="43">Cov3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="51">Rep1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="52">Rep2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="53">Rep3</button>
            <button class="topcoat-button--large speroroads-bottom" style="margin-left:96px" id="61" hm-tap="triggerCustomOccurrenceSettings($event)" rel="61">TSan</button>
            <button class="topcoat-button--large speroroads-bottom" id="62" hm-tap="triggerCustomOccurrenceSettings($event)" rel="62">GSum</button>
            <button class="topcoat-button--large--cta--new speroroads-bottom" hm-tap="triggerStartRoute($event)"></button>
            <button class="topcoat-button--large--cta--save speroroads-bottom" hm-tap="saveRoute($event)"></button>
            <button class="topcoat-button--large--cta--settings speroroads-bottom" hm-tap="triggerRoadSettings($event)"></button>
            <button class="topcoat-button--large speroroads-bottom" style="margin-left:96px" id="63" hm-tap="triggerCustomOccurrenceSettings($event)" rel="63">Pass</button>
            <button class="topcoat-button--large speroroads-bottom" id="64" hm-tap="newOcurrenceName($event)" rel="64">Nova</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> <!-- first container -->
