<style>
  .speroroads-bottom { margin-bottom:5px;padding:25px;} 
  .list-evaluation { border-right:0px solid #333; padding-right:0px; min-height:100%;}
  .no-padding {padding:0px;}
  #map-container {min-height:400px; margin-bottom:10px;}
  #commander {margin-right:0px;}
</style>

<div ng-controller="IndexCtrl" class="container-fluid no-padding">

  <div class="row">
    <div class="col-md-3">
      <div id="routes-btn_container">
         <button class="topcoat-button--small--cta speroroads-bottom" hm-tap="newRoute($event)">New Route</button>
      </div>
      <div class="topcoat-list__container list-evaluation">
          <ul class="topcoat-list">
            <!-- order is reversed created timestamp -->
            <li class="topcoat-list__item" ng-show="!routes.length">No routes</li>
            <li class="topcoat-list__item" ng-repeat="route in routes | orderBy: '-createddate'">
            {{ route.name }}
            <button hm-tap="open(occurrence.id)" style="float:right">Detalhes</button>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9" id="map-container">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="row" id="routeoptions">
        
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-5 no-padding">
          <div class="topcoat-list__container list-evaluation" id="listoccurrences">
          <ul class="topcoat-list">
            <!-- order is reversed created timestamp -->
            <li class="topcoat-list__item" ng-show="!currentRoute">No route selected</li>
            <li class="topcout-list__item" ng-repeat="occur in currentOccurrences" >
              {{ instances[occur.id].name }}
            </li>
        </ul>
      </div>
        </div>

        <div class="col-md-7 no-padding" id="commander">
          <form class="simple-form">
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="11">R1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="startRoad($event)" rel="12">R2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="13">R3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="21">F1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="22">F2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="23">F3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="31">P1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="32">P2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="33">P3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="41">C1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="42">C2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="43">C3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="51">R1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="52">R2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="save($event)" rel="53">R3</button>
            <button class="topcoat-button--large--cta speroroads-bottom" hm-tap="saveRoute($event)">Guardar</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="export($event)">Exportar</button>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> <!-- first container -->
