<style>
  .speroroads-bottom { margin-bottom:5px;padding:25px;} 
  .list-evaluation { border-right:0px solid #333; padding-right:0px; min-height:100%;}
  .no-padding {padding:0px;}
  #map-container {min-height:400px; margin-bottom:10px;}
  #commander {margin-right:0px;font-family:"Courier New", Courier, monospace;}
</style>

<div ng-controller="IndexCtrl" class="container-fluid no-padding">

  <div class="row" style="margin-right:0px;">
    <div class="col-md-3" style="padding-right:0px;">
      <div class="topcoat-list__container list-evaluation" style="max-height:730px;">
          <ul class="topcoat-list">
            <!-- order is reversed created timestamp -->
            <li class="topcoat-list__item" hm-tap="newRoute($event)" style="text-align:center">++ New Route ++</li>
            <li class="topcoat-list__item" hm-tap="openRoute(route.id)" ng-repeat="route in routes | orderBy: '-createddate'">
            {{ route.name }}
            <button hm-tap='delete(route.id)' style="float:right">Eliminar</button>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9" id="map-container">
      
    </div>
  </div>

  <div class="row" style="margin-right:0px;">
    <div class="col-md-3">
    
    </div>
    <div class="col-md-9">
      <div class="row" id="route-settings" style="">
        <div class="col-md-12">
          <div class="col-md-4 no-padding">
            <h3>Pavimento</h3>
            <select class="topcoat-select">
              <option value="1" ng-selected="1 == 3">Flexível</option>
              <option value="2" ng-selected="2 == 3">Rígido</option>
              <option value="3" ng-selected="3 == 3">Semirrígido</option>
              <option value="4" ng-selected="4 == 3">Blocos de betão</option>
              <option value="5" ng-selected="5 == 3">Paralelepípedos de rocha natural</option>
              <option value="6" ng-selected="6 == 3">Outro</option>
            </select>

            <h3>Bermas Pavimentadas</h3>
            <select class="topcoat-select">
              <option value="1" ng-selected="1 == 3">Sim</option>
              <option value="0" ng-selected="2 == 3">Não</option>
            </select>
          </div>

          <div class="col-md-4 no-padding">
            <h3>Largura da berma</h3>
            <select class="topcoat-select">
              <option value="0">1</option>
              <option value="1">2</option>
            </select>
          
            <h3>Número de vias</h3>
            <select class="topcoat-select">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
          </div>
        
          <div class="col-md-4 no-padding">
            <h3>Largura total pavimento</h3>
            <select class="topcoat-select" style="margin-bottom:10px">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
            <br />
            <button class="topcoat-button speroroads-bottom" hm-tap="">Alterar</button>
            <button class="topcoat-button speroroads-bottom" htm-tap="">Esconder</button>

          </div>
        </div>


      </div>

      <div class="row">
        <div class="col-md-4 no-padding" style="padding-right:10px;">
          <div class="topcoat-list__container list-evaluation" id="listoccurrences" style="max-height:270px;">
            <ul class="topcoat-list">
              <!-- order is reversed created timestamp -->
              <li class="topcoat-list__item" ng-show="!currentRoute">No route selected</li>
              <li class="topcoat-list__item" ng-repeat="occur in currentOccurrences" hm-tap='openOccurrence(occur.id)'>
              {{ occur.name }}
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-8 no-padding" id="commander">
          <form class="simple-form">
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="11">R1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="12">R2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="13">R3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="21">F1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="22">F2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="23">F3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerPathOcc($event)" rel="31">P1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="32">P2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="33">P3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="41">C1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="42">C2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="43">C3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="51">R1</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="52">R2</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="saveSingleOccurrence($event)" rel="53">R3</button>
            <button class="topcoat-button--large speroroads-bottom" hm-tap="triggerStartRoute($event)">IN</button>
            <button class="topcoat-button--large--cta speroroads-bottom" hm-tap="saveRoute($event)">GR</button>
            <button class="topcoat-button--large--cta speroroads-bottom" hm-tap="">AL</button>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> <!-- first container -->
