<style>
  .speroroads-bottom { margin-bottom:5px; } 
</style>

<div ng-controller="NewCtrl">
  <div class="spinner" ng-show="loading"></div>
  <div class="content-padded">

    <form class="simple-form">
      <a class="topcoat-button center speroroads-bottom" hm-tap="startOccurrence($event)">R1</a>
      <a class="topcoat-button center speroroads-bottom">R2</a>
      <a class="topcoat-button center speroroads-bottom">R3</a>
      <a class="topcoat-button center speroroads-bottom">F1</a>
      <a class="topcoat-button center speroroads-bottom">F2</a>
      <a class="topcoat-button center speroroads-bottom">F3</a>
      <a class="topcoat-button center speroroads-bottom">P1</a>
      <a class="topcoat-button center speroroads-bottom">P2</a>
      <a class="topcoat-button center speroroads-bottom">P3</a>
      <a class="topcoat-button center speroroads-bottom">C1</a>
      <a class="topcoat-button center speroroads-bottom">C2</a>
      <a class="topcoat-button center speroroads-bottom">C3</a>
      <a class="topcoat-button center speroroads-bottom">R1</a>
      <a class="topcoat-button center speroroads-bottom">R2</a>
      <a class="topcoat-button center speroroads-bottom">R3</a>
      <br>
      <h1>{{occurrence.name || "Nome"}}</h1>
      <br>

      <label>Nome:</label><br>
      <input type="text" ng-model="occurrence.name" class="topcoat-text-input three-quarters"/>

      <br><br>

      <label>Descrição:</label><br>
      <input type="text" ng-model="occurrence.description" class="topcoat-text-input three-quarters"/>

      <br><br>

      <a class="topcoat-button--cta full center" hm-tap="create(route)">Começar ocorrência</a>
      <br><br>
      <a class="topcoat-button full center" hm-tap="close()">Cancelar</a>
    </form>

  </div>

</div>
