<div ng-controller="NewCtrl">
  <div class="spinner" ng-show="loading"></div>
  <div class="content-padded">
    <h1>Nova ocorrência</h1>

    <form class="simple-form">
      <label>Tipo:</label><br>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">R1</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">R2</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">R3</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">F1</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">F2</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">F3</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">P1</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">P2</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">P3</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">C1</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">C2</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">C3</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">R1</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">R2</a>
      <a class="topcoat-button--cta center" style="margin-bottom:5px;">R3</a>
      
      <br><br>

      <label>Nome:</label><br>
      <input type="text" ng-model="occurrence.name" class="topcoat-text-input three-quarters"/>

      <br><br>

      <label>Descrição:</label><br>
      <input type="text" ng-model="occurrence.description" class="topcoat-text-input three-quarters"/>

      <br><br>

      <a class="topcoat-button--cta full center" hm-tap="create(occurrence)">Começar ocorrência</a>
      <br><br>
      <a class="topcoat-button full center" hm-tap="close()">Cancelar</a>
    </form>

  </div>

</div>
